HELP.md
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

### IDEs ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
